# Jupytor Basics

## Markdown Basics



**Bold**


*Italic*

*Mastan Vali*


* List
    * Sub list1
    * sub list2


<img src="a.png" style="float:right">

[google] [1] and [facebook] [2]

[1]: http://google.com

[2]: http://facebook.com



<mastanvali.p@apssdc.in>

### Python Basics

In [3]:
print("Hello World")

print("Mastan Vali")

print("Hello SISTK")

Hello World
Mastan Vali
Hello SISTK

In [4]:
#Variables in Python
a = 10

a

10

In [5]:
type(a)

int

In [6]:
s = "pyhton"

type(s)

str

In [8]:
a,b,c = 12,32,"python"
c

'python'

In [9]:
a+b

44

In [10]:
a-b

-20

### Airthamatic Operations

In [12]:
a = 10
b = 20
#a+b,a-b,a%b,a*b,a%b

In [13]:
a+b

30

In [14]:
a-b

-10

In [15]:
a%b

10

In [16]:
a/b

0.5

In [17]:
a*b

200

### Control Statements

In [1]:
#IF
a = 30
if a>10:
    print("True")
else:
    print("False")

True

In [2]:
userInput = input("Enter Something")
userInput

Enter SomethingHello APSSDC

'Hello APSSDC'

In [4]:
a = input()
type(a)

10

str

In [6]:
a = int(input())
type(a)

mastan

ValueError: invalid literal for int() with base 10: 'mastan'

In [10]:
a = float(input())
type(a)

10

float

In [16]:
#Check the Age 
#if the age is gretaer than 18 print 'Adult'
#else print 'Child'

age = int(input("Enter your Age "))
if age>18:
    print("Adult")
else:
    print("Child")

Enter your Age 12
Child

In [21]:
#Greet your friend
name = input("Good Afternoon ")

Good Afternoon lokesh

In [22]:
f = 1.425
type(f)

float

In [23]:
#if elif else Statement
a = 10
b = 16
c = 20
if a>b:
    print("a is bigger")
elif b>c:
    print("b is bigger")
else:
    print("c is bigger")

c is bigger

In [27]:
#task2:
#read the temperature from user here 
#if temperaute is lessthan equalto 20 then print 'cool' 
#if temperaute is greater than 20 and lessthan 30 print "Moderate"
#if temperature is greater than 30 then print "Hot"
# temp = 20 == >cool
# temp = 28==> Moderate
# temp = 40 ==>Hot
temp = int(input())
if temp<=20:
    print("Cool")
elif temp>20 and temp<30:
    print("Moderate")
else:
    print("Hot")

30
Hot

### Loops:

In [41]:
#for loop

# for(initalization;condition;increment or decrement){

# }

# range(lb,ub,step)

for i in range(1,10,4):
    print(i,end = ",")

1,5,9,

In [ ]:
#task3
#lb = 20
#ub = 40

In [ ]:
# Task-4
# Generate all numbers which is divisible by 5 with
# in the given range
# 1 - 1000
# Example:
# output: 5 10 15 20 . . . .

In [42]:
# Task-5
# Generate all numbers which is divisible by 5 with
# in the given range
# 1 - 1000
# Note: Without step parameter
# Example:
# output: 5 10 15 20 . . . . 

for i in range(1,1001):
    if i%5 == 0:
        print(i,end = " ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500 505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950 955 960 965 970 975 980 985 990 995 1000