### Date: 19-Aug-2019
### DayObjectives
* Dictionaries
* Sets
* Packages and Modules
* RegularExpressions
* Functional Programming
    * List Comprehensions
    * Generators
    * Iterators
    * Filters
    * Maps
    * Lambda

### Dictionaries

In [25]:
#Dictionary is a collection of hetrogenious data
#In this Dictionary we can store the 
#data in  key value based

#If you want create a dictionary by using {} these 
#braces we can create the dictionary
# Sytanx:
# d = {key1:value,key2:value}
# Here Key's are must be in unique 
#don't give the duplicates

d = {"key1":22,"key2":"apssdc","key3":55.44}

d["key2"]#By using key we can access the elements from the dictionary
l =list(d.items())
l[1][1]

'apssdc'

In [35]:
d = {"key1":22,"key2":78,"key3":55.44}
d.values()
d.keys()
l = list(d.keys())
sorted(d.values())

[22, 55.44, 78]

In [41]:
dictionary = {}
dictionary["key1"] = 123
dictionary["key2"] = 242
dictionary

{'key1': 123, 'key2': 242}

In [43]:
#Create a one empty dictionary to store the 
# employee details
# 1.emp Id
# 2.Name
# 3.MobileNo
# 4.email
# 5.disignation
# 6.salary
empd = {empid:24654632,name = mastan}
# empd ={empid1:[name,mobilrno,emailid,disignation,salary]
#       ,empid2:[name,]}

SyntaxError: invalid syntax (<ipython-input-43-5cb400cb3ec4>, line 9)

In [48]:
d = {}
n = int(input("Enter the employees count "))
for i in range(n):
    li = []
    empid = input("id ")
    name = input("name ")
    mobileno = input("mobile ")
    emailid = input("email ")
    disig = input("disig ")
    sal = input("salary ")
    li.append(name)
    li.append(mobileno)
    li.append(emailid)
    li.append(disig)
    li.append(sal)
    d[empid]=li
print(d)

Enter the employees count 2
id 1
name aa
mobile 3876835
email aa@
disig de
salary 64328764
id 2
name bb
mobile 74936583
email bb@
disig te
salary 6487365
{'1': ['aa', '3876835', 'aa@', 'de', '64328764'], '2': ['bb', '74936583', 'bb@', 'te', '6487365']}

In [93]:
#to find the highest frequency number
li = [1,2,3,4,1,2,6,7,1,1]
# li.count(4)
d = {}
for i in li:
    if i not in d.keys():
        d[i]=li.count(i)

# print(d) 
valueslist=list(d.values())
valueslist
m = max(valueslist)
itemslist =list(d.items())
itemslist
for item in d.items():
    tup = item
    #print(tup[1])
    if tup[1]==m:
        print(tup[0])

1

In [109]:
#To create function find the second highest frequency
# secondHighestFreq(li):
#li = [22,44,55,44,22,66,34,54,44]
def secondHighestFreq(li):
    d = {}
    for i in li:
        if i not in d.keys():
            d[i] = li.count(i)
    print(d)
    valueslist = list(d.values())
    valueslist = sorted(valueslist)
    sh = valueslist[-2]
    for item in d.items():
        tup = item
        if tup[1] == sh:
            print(tup[0])
    
    
li = [22,44,55,44,22,66,34,54,44]
secondHighestFreq(li)

{22: 2, 44: 3, 55: 1, 66: 1, 34: 1, 54: 1}
22

In [102]:
#create a function to find the highest freqency character
# s = "Pyhton Programming"
# p->2
# y->1
# h->1
# t->1
# o->2
# n->
# r->2
# g->2
def highestFreqChar(s):

'Pyhton Programming'

### Sets

In [118]:
#Set is collection of hetrogenious data
#set is mutable
#set never accept the duplicate elements
#Set allows only unique elements
#declaration of set s = {}
s = {'a','b','c',34,44.5,'a'}
for i in s:
    print(i,end=" ")

34 b 44.5 c a

In [126]:
a = {1,4,3}
b = {4,5,6}
a.union(b)#AUB
a.intersection(b)
a.difference(b)
b.difference(a)
a-b

{1, 3}

In [130]:
temp = set()
temp.add(1)
temp.add(2)
temp.add(2)
temp

{1, 2}

In [ ]:
# Build a Contact Application in an android phone.
# Add a number in your contact application 
# and search for that number.
#contacts = {mastan:[6876548363,mm@gmailcom],
# chalapathi:[6786543686,chalapthi@gmail.com]}
    #Search a contact in the cotact list
    #Update your contacts in contact application.
# 1.addContact()
# 2.searchContact
# 3.UpdateContact
# 4.deleteContact
    

A dictionary contains students data( keys → S.No,
values → list of name , age ). 
Now add a new student data and 
delete one old student data. 
Print result in the format of 
“S.No : [ name , age ] “